h1 {
    text-align: center;
    font-family: 'Pompiere', cursive;
    color: white;
}

.mayoristaInfo{
    padding: 2%;
}
h2, h3{ 
    font-family: 'Pompiere'; 
    color: white;
    text-align: center;
    
}

.h2Style{
    background-color:blanchedalmond;
}
/*extend*/ 
.h2--extend{
    @extend .h2Style;
    border: 3px solid white;
}

/*mixin*/

@mixin size ($width, $height) {
    height: $height;
    width: $width;
}

.my_mixin{
    @include size (500px, 50px);
    display: flex;
    justify-content: center;
    background-color: bisque;
    text-align: center;
}

div {
    p{
        color:black;
    }
   
}

p{
    color: white;
    text-align: justify;
    font-size:x-large
}
