h1 {
    text-align: center;
    font-family: 'Pompiere', cursive;
    color: white;
}

h2, h3{ 
    font-family: 'Pompiere'; 
    color: white;
    text-align: center;
}

h2{
    background-color: bisque;
}

div {
    p{
        color:black;
    }
   
}

p{
    color: white;
    text-align: justify;
    font-size:x-large
}
